@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&display=swap");
p,
h1,
h2,
h3,
h4,
li,
a,
button {
  font-family: "Nunito";
}
.app {
  padding: 0;
}
body {
  margin: 0;
  background-color: rgb(252, 241, 191);
}
